@media only screen and (max-width: 1800px) {

h1 {
    font-size: 150px;
}

/*-- Header --*/

.header_site {
    padding: 20px 50px 20px 50px;
}

.resp_nav li {
    padding: 0 10px;
}

.resbtn_wrapp {
    padding: 11px 0 0 30px;
}

/*-- Modal Nav --*/

.tree_cols_nav {
    padding: 2% 0 20px 0;
}

.tree_cols_nav ul li {
    padding: 15px 0;
}

.tree_cols_nav ul li a {
    font-size: 24px;
    line-height: 30px;
}

.modal_nav.visible .modal_nav_title {
    top: -110px;
}

.modal_nav_title h2 {
    font-size: 145px;
    line-height: 145px;
}

.modal_nav_header {
    padding: 4% 0 20px 0;
}

.modal_nav_header h3 {
    font-size: 53px;
    line-height: 60px;
}

.nav_pill {
    height: 110px;
}

.nav_pill p {
    font-size: 54px;
    line-height: 55px;
}

/*-- /Modal Nav --*/

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo_thumb {
    height: 450px;
}

/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 1700px) {

/*-- Section 1 - Main Page --*/

.promo_thumb {
    height: 396px;
}

.promo_thumb img {
    height: 396px;
}

/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 1600px) {

/*-- Header --*/

.header_site > .left {
    width: 240px;
}

.header_site > .right {
    width: calc(100% - 240px);
}

.resp_nav {
    padding: 18px 15px 5px 0;
}

.logo p {
    font-size: 17px;
    line-height: 23px;
}

.mail_link_hover {
    font-size: 20px;
}

/*-- /Header --*/


/*-- Section 1 - Main Page --*/

.promo_thumb {
    height: 420px;
    position: relative;
}

.promo_thumb video {
    min-width: 100%;
    height: calc(100% + 45px);
    width: auto;
}

.promo_thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 6 - Digital Page --*/

.digital_img_box_2_inner_wrapp h2 {
    padding: 0 0 22px 0;
    font-size: 40px;
}

.digital_img_box_2_inner > div p {
    font-size: 25px;
    line-height: 39px;
}

.digital_img_box_2_inner_wrapp {
    width: calc(100% - 80px);
    left: 70px;
}

/*-- /Section 6 - Digital Page --*/

/*-- Section 1 - About Page --*/

.about_promo_img {
    width: 30%;
}

/*-- /Section 1 - About Page --*/

}

@media only screen and (max-width: 1450px) {

h1 {
    font-size: 100px;
}

/*-- Header --*/

.header_site {
    padding: 20px 25px 20px 25px;
}

.pink_link {
    padding: 5px 15px;
    font-size: 18px;
}

.tel_link {
    padding: 0 15px 0 10px;
    font-size: 24px;
}

.resbtn_wrapp {
    padding: 11px 0 0 20px;
}

.resp_nav li a {
    font-size: 18px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo {
    padding: 195px 0 10px 0;
}

.promo_h1 {
    top: 169px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_mp {
    padding: 55px 0 10px 0;
}

.article h2 {
    font-size: 66px;
    line-height: 73px;
}

.article h2 span {
    font-size: 42px;
}

.article > div:nth-child(2) p {
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
}

.article > div:nth-child(2) p a {
    font-size: 24px;
    line-height: 32px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.tabs_list {
    margin: 0 -25px;
}

.tabs_list li {
    padding: 10px 15px;
}

.tab_link {
    font-size: 18px;
    line-height: 34px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols > div:nth-child(1) {
    padding: 5px 20px 10px 0;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.contacts_box h3 {
    padding: 20px 0 37px 0;
    font-size: 41px;
    line-height: 41px;
}

.contacts_item ul li a {
    font-size: 21px;
    line-height: 26px;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 2 - Digital Page --*/

.digital_article > div:nth-child(2) {
    padding: 15px 0% 10px 20px;
}

.digital_img_box {
    margin: 42px 0 20px 0;
}

/*-- /Section 2 - Digital Page --*/

/*-- Section 5 - Digital Page --*/

.brandbok_thumb_2 {
    width: calc(50% - 80px);
    padding: 10px 0;
}

.brandbok_thumb_2 h3 {
    padding-bottom: 7px;
    font-size: 24px;
    line-height: 34px;
}

.brandbok_thumb_2 p {
    font-size: 18px;
    line-height: 27px;
}

/*-- /Section 5 - Digital Page --*/

/*-- Section 7 - Digital Page --*/

.tabs_list_2 {
    margin: 0 -10px;
}

.tabs_list_2:after {
    width: calc(100% - 20px);
    left: 10px;
}

/*-- /Section 7 - Digital Page --*/

/*-- Section 8 - Digital Page --*/

.prices_article > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.prices_article > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

.prices_article > div:nth-child(1) .inner {
    max-width: 100%;
}

.price_thumb_content h3 {
    padding-bottom: 14px;
    font-size: 23px;
    line-height: 34px;
}

.price_thumb_content p {
    font-size: 18px;
    line-height: 25px;
}

.price_val p {
    font-size: 30px;
    line-height: 34px;
}

.prices_descript {
    max-width: 640px;
    padding: 55px 5% 45px 6%;
}

.dr_content_price_height {
    top: 0;
}

/*-- /Section 8 - Digital Page --*/

/*-- Section 3 - About Page --*/

.promo_2_article > div:nth-child(1) {
    max-width: 335px;
}

.promo_2_article > div:nth-child(2) {
    max-width: 290px;
}

.promo_2_article > div:nth-child(1) p {
    font-size: 40px;
    line-height: 54px;
}

.promo_2_article > div:nth-child(2) p {
    font-size: 24px;
    line-height: 35px;
}

/*-- /Section 3 - About Page --*/

/*-- Section 2 - BrnadBook Page --*/

.video_article {
    padding: 15px 0 20px 0;
}

.video_article > div:nth-child(1) {
    width: 235px;
}

.video_article > div:nth-child(2) {
    width: calc(100% - 235px);
}

/*-- /Section 2 - BrnadBook Page --*/

}

@media only screen and (max-width: 1240px) {

/*-- Header --*/

.resp_nav {
    display: none;
}

/*-- Modal Nav --*/

.modal_nav_header h3 {
    font-size: 40px;
    line-height: 50px;
}

.modal_nav.visible .modal_nav_title {
    top: -69px;
}

.modal_nav_title h2 {
    font-size: 94px;
    line-height: 94px;
}

.nav_pill {
    height: 80px;
}

.nav_pill p {
    font-size: 42px;
    line-height: 42px;
}

.tree_cols_nav ul li {
    padding: 10px 0;
    line-height: 1;
}

.tree_cols_nav ul li a {
    font-size: 20px;
    line-height: 26px;
}

/*-- /Modal Nav --*/

/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.tags li {
    width: calc(25% - 20px);
    margin: 10px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols {
    padding: 70px 0 53px 0;
}

.callback_two_cols > div:nth-child(1) {
    width: calc(100% - 500px);
}

.callback_two_cols > div:nth-child(2) {
    width: 500px;
}

.formn_templ > div:nth-child(1) > p,
.formn_templ > div:nth-child(1) > p a {
    font-size: 20px;
    line-height: 33px;
}

.subBtn {
    font-size: 20px;
    line-height: 33px;
}

.form_js_input input {
    font-size: 23px;
}

.callback_img img {
    height: 450px;
    width: 100%;
}

.callback_header h2 {
    font-size: 43px;
}

.callback_header h2 span {
    font-size: 35px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.callback_two_cols_2 {
    padding-bottom: 0;
    padding-top: 140px;
}

.contacts_box {
    border-width: 15px 15px 0 15px;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 3 - Digital Page --*/

.digital_paralax_content > div:nth-child(1) p {
    font-size: 32px;
    line-height: 51px;
}

.digital_paralax_content > div:nth-child(1) > div {
    max-width: 278px;
}

.digital_paralax_content > div:nth-child(2) > div {
    max-width: 253px;
}

.digital_paralax_content > div:nth-child(2) p {
    font-size: 24px;
    line-height: 36px;
}

.digital_paralax {
    margin: 30px 0 30px 0;
}

.digital_sculptor {
    width: 500px;
}

.digital_paralax_content {
    height: 600px;
}

/*-- /Section 3 - Digital Page --*/

/*-- Section 1 - About Page --*/

.about_promo > div:nth-child(1) > div {
    max-width: 300px;
}

.about_promo > div:nth-child(2) > div {
    max-width: 316px;
}

.about_promo h3 {
    padding-bottom: 22px;
    font-size: 36px;
    line-height: 46px;
}

.about_promo p,
.about_promo p a {
    font-size: 24px;
    line-height: 35px;
}

/*-- /Section 1 - About Page --*/

/*-- Section 1 - BrnadBook Page --*/

.article.brandbok h2 {
    font-size: 53px;
    line-height: 58px;
}

/*-- /Section 1 - BrnadBook Page --*/

/*-- Section 8 - Main Page --*/

.brandbok_img_box_2_inner p {
    font-size: 24px;
    line-height: 37px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Logo Page --*/

.logos_inline > div img {
    max-width: 200px;
}

/*-- /Section 1 - Logo Page --*/

/*-- Footer --*/

.footer_templ {
    padding: 15px 0 10px 0;
}

.footer_templ > div:nth-child(1) {
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center;
}

.footer_templ > div:nth-child(2) {
    width: calc(100% - 250px);
}

.footer_templ > div:nth-child(3) {
    width: 250px;
}

.footer_bottom_templ> div:nth-child(1) {
    width: 38%;
}

.footer_bottom_templ> div:nth-child(2) {
    width: 62%;
}

.footer_inline {
    margin: 0 -20px;
}

.footer_inline > div {
    padding: 0 20px;
}

.tel_link_2 {
    font-size: 26px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

h2 {
    font-size: 57px;
}

/*-- Section 1 - Main Page --*/

.animate_title .cursor {
    height: 40px;
    top: 13px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 4 - Main Page --*/

.article_2 > div:nth-child(2) {
    width: 50%;
    padding: 21px 0 10px 20px;
}

.article h2 {
    font-size: 50px;
    line-height: 66px;
}

.article_2 > div:nth-child(2) h3 {
    padding: 20px 0 8px 0;
    font-size: 24px;
    line-height: 34px;
}

.article_2 > div:nth-child(2) p {
    font-size: 18px;
    line-height: 28px;
}

.img_box_inner p {
    font-size: 24px;
    line-height: 34px;
}

.img_box_inner {
    padding: 60px 30px 70px 30px;
}

.img_box_3_content {
    padding: 30px 0 0 0;
}

.img_box_3_content h3 {
    padding-bottom: 20px;
    font-size: 33px;
    line-height: 37px;
}

.img_box_3 {
    padding: 20px 60px 65px 20px;
}

.link_wrapp {
    padding: 40px 0 0 0;
}

.pink_link_2 {
    font-size: 24px;
    line-height: 36px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 2 - Digital Page --*/

.sect_2_dp {
    padding: 25px 0 10px 0;
}

.digital_article > div:nth-child(1) {
    width: calc(100% - 480px);
}

.digital_article > div:nth-child(2) {
    width: 480px;
}

.digital_article > div:nth-child(1) p,
.digital_article > div:nth-child(1) p a {
    font-size: 22px;
    line-height: 34px;
}

.item_thumb_title h3 {
    font-size: 26px;
    line-height: 29px;
}

.item_thumb p {
    font-size: 18px;
    line-height: 26px;
}

.item_thumb p a {
    font-size: 18px;
    line-height: 26px;
}

.digital_img_box {
    height: 465px;
}

/*-- /Section 2 - Digital Page --*/

/*-- Section 6 - Digital Page --*/

.brandbok_img_box_2 {
    border-radius: 50px 0 0 0;
}

.digital_img_box_2_inner_wrapp h2 {
    padding: 0 0 22px 0;
    font-size: 30px;
}

.digital_img_box_2_inner > div p {
    font-size: 20px;
    line-height: 33px;
}

.digital_img_box_2_inner {
    border-radius: 50px 0 0 0;
    padding: 10px 25px 10px 25px;
}

.hovder_dr_item {
    padding: 7px 0;
}

.brandbok_article > div:nth-child(1) {
    padding: 0 15px 0 0;
}

.brandbok_article > div:nth-child(2).fixed_height {
    height: 610px;
}

.brandbok_article > div:nth-child(2) {
    min-height: 610px;
}

.dr_inner_wrapp {
    padding: 15px 0 5px 10px;
}

.hovder_dr_item_content p {
    font-size: 18px;
    line-height: 30px;
}

/*-- /Section 6 - Digital Page --*/

/*-- Section 1 - About Page --*/

.about_promo {
    min-height: 541px;
}

.about_promo p,
.about_promo p a {
    font-size: 24px;
    line-height: 33px;
}

.about_promo h3 {
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 48px;
}

.about_promo_img {
    width: 30%;
    max-width: 470px;
    height: 500px;
    border-radius: 80px 0 0 0;
}

.about_promo_2 {
    padding: 60px 0 90px 0;
}

.about_promo_2 p,
.about_promo_2 p a {
    font-size: 24px;
    line-height: 33px;
}

/*-- /Section 1 - About Page --*/

/*-- Section 2 - About Page --*/

.ab_thumbs {
    margin: 0 -20px;
}

.ab_thumb {
    width: calc(33.33% - 40px);
    margin: 10px 20px;
}

.ab_thumb h3 {
    padding-bottom: 21px;
    min-height: 61px;
    font-size: 26px;
    line-height: 37px;
}

.ab_thumb p {
    font-size: 18px;
    line-height: 27px;
}

/*-- /Section 2 - About Page --*/

/*-- Section 3 - About Page --*/

.promo_2_article {
    min-height: 378px;
}

.promo_2_article > div:nth-child(1) {
    max-width: 225px;
}

.promo_2_article > div:nth-child(2) {
    max-width: 190px;
}

.promo_2_article > div:nth-child(1) p {
    font-size: 28px;
    line-height: 38px;
}

.promo_2_article > div:nth-child(2) p {
    font-size: 20px;
    line-height: 27px;
}

.promo_2_img {
    width: 430px;
}

/*-- /Section 3 - About Page --*/

/*-- Section 4 - BrnadBook Page --*/

.brandbok_tree_cols > div:nth-child(1) {
    width: calc(50% - 190px);
}

.brandbok_tree_cols > div:nth-child(2) {
    width: 380px;
}

.brandbok_tree_cols > div:nth-child(3) {
    width: calc(50% - 190px);
}

.logo_creater_list li {
    font-size: 18px;
    line-height: 30px;
}

/*-- /Section 4 - BrnadBook Page --*/

/*-- Footer --*/

.footer_bottom_templ> div:nth-child(1) {
    width: 100%;
    text-align: center;
}

.footer_bottom_templ> div:nth-child(2) {
    width: 100%;
    text-align: center;
}

.footer_inline {
    justify-content: center;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1024px) {

h1 {
    font-size: 80px;
    line-height: 120%;
}

/*-- Section 1 - Main Page --*/

.promo_thumb {
    height: 250px;
    border-radius: 0 50px 0 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.article > div:nth-child(1) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.article > div:nth-child(2) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.article h2 {
    font-size: 54px;
    line-height: 68px;
}

.article h2 span {
    font-size: 34px;
}

.article > div:nth-child(2) p {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
}

.article > div:nth-child(2) p a {
    font-size: 20px;
    line-height: 30px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    padding: 94px 0 35px 0;
}

.article_2 > div:nth-child(2) h3 {
    padding: 17px 0 8px 0;
    font-size: 22px;
    line-height: 29px;
}

.article_2 > div:nth-child(2) p {
    font-size: 16px;
    line-height: 26px;
}

.img_box_3_content h3 {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
}

.link_wrapp {
    padding: 20px 0 0 0;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.items {
    margin: 0 -20px;
    padding: 10px 0 10px 0;
}

.item {
    width: calc(50% - 40px);
    margin: 10px 20px;
}

.item > div:nth-child(1) p {
    font-size: 24px;
    line-height: 30px;
}

.item > div:nth-child(2) p {
    font-size: 18px;
    line-height: 30px;
}

.item > div:nth-child(2) p a {
    font-size: 18px;
    line-height: 30px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.pink_line {
    margin: 30px 0 30px 0;
    padding: 30px 0 30px 0;
}

.pink_line ul li {
    padding: 15px 15px;
    font-size: 30px;
    line-height: 30px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.faq_item_title {
    padding: 20px 50px 20px 0;
}

.faq_item_title h3 {
    font-size: 24px;
    line-height: 35px;
}

.faq_item_title svg {
    right: 15px;
}

.faq_item_content {
    margin-top: -10px;
    padding: 0 30px 20px 20px;
}

.faq_item_content p {
    font-size: 18px;
    line-height: 28px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols > div:nth-child(1) {
    width: calc(100% - 300px);
}

.callback_two_cols > div:nth-child(2) {
    width: 300px;
}

.callback_header h3 {
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 25px;
}

.contacts_inline {
    margin: 0 -15px;
}

.contacts_inline > div {
    padding: 8px 15px 0 8px;
}

.icon_link {
    font-size: 18px;
    line-height: 34px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.callback_two_cols_2 > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.callback_two_cols_2 > div:nth-child(2) {
    width: 100%;
    padding: 10px 0 0 0;
}

.contacts_box {
    max-width: 100%;
    padding: 15px 35px 11px 35px;
}

.callback_content {
    width: 100%;
}

.contacts_item {
    padding: 13px 0 8px 0;
}

.contacts_box h3 {
    padding: 20px 0 18px 0;
    font-size: 41px;
    line-height: 41px;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 3 - Digital Page --*/

.digital_paralax_content {
    height: 440px;
}

.digital_sculptor {
    width: 380px;
}

.digital_paralax > .row:after {
    width: 480px;
}

/*-- /Section 3 - Digital Page --*/

/*-- Section 4 - Digital Page --*/

.digital_article_2 h3 {
    padding: 20px 0 10px 0;
    font-size: 24px;
    line-height: 32px;
}

.digital_article_2 p {
    font-size: 18px;
    line-height: 29px;
}

/*-- /Section 4 - Digital Page --*/

/*-- Section 5 - About Page --*/

.sect_5_ab {
    padding-top: 50px;
}

.about_article ul {
    width: 100%;
    margin: 0;
}

.about_article ul li {
    margin: 0;
    font-size: 21px;
    line-height: 34px;
}

/*-- /Section 5 - About Page --*/

/*-- Section 3 - BrnadBook Page --*/

.brandbok_3 {
    align-items: center;
}

.brandbok_3 > div:nth-child(1) p {
    font-size: 20px;
    line-height: 35px;
}

.brandbok_3 > div:nth-child(1) p a {
    font-size: 20px;
    line-height: 35px; 
}

.brandbok_3 > div:nth-child(1) {
    width: 49%;
    padding: 10px 20px 10px 0;
}

.brandbok_3 > div:nth-child(2) {
    width: 51%;
    min-height: 330px;
}

.brandbok_4 {
    align-items: center;
    padding: 25px 0 25px 0;
}

.brandbok_4 > div:nth-child(2) {
    padding: 10px 0 10px 20px;
}

.brandbok_4 p {
    padding: 10px 0;
    font-size: 20px;
    line-height: 35px;
}

.brandbok_4 p a {
    font-size: 20px;
    line-height: 35px;
}

/*-- /Section 3 - BrnadBook Page --*/

/*-- Section 4 - BrnadBook Page --*/

.article h2 {
    font-size: 54px;
    line-height: 60px;
}

.sect_4_bb .article.brandbok_4 {
    padding-top: 20px;
}

.brandbok_4 > div:nth-child(2) {
    padding: 0;
}

.brandbok_4 > div:nth-child(2) > div {
    max-width: 100%;
}

/*-- /Section 4 - BrnadBook Page --*/

/*-- Section 1 - Logo Page --*/

.logotype_article {
    padding: 20px 0 20px 0;
}

.logotype_article > div:nth-child(1) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.logotype_article > div:nth-child(2) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.logotype_article_two_cols p {
    font-size: 18px;
    line-height: 30px;
}

.logotype_article > div:nth-child(1) p {
    font-size: 18px;
    line-height: 30px;
}

.logotype_article > div:nth-child(1) h3 {
    padding: 10px 0 10px 0;
    font-size: 26px;
}

/*-- /Section 1 - Logo Page --*/

/*-- Section 2 - Logo Page --*/

.sect_2_lp {
    padding-top: 29px;
}

.lp_thumbs {
    padding: 0 0 25px 0;
}

.lp_thumb {
    width: calc(50% - 70px);
}

/*-- /Section 2 - Logo Page --*/

/*-- Section 3 - Logo Page --*/

.sect_3_lp .article br {
    display: none;
}

/*-- /Section 3 - Logo Page --*/

}

@media only screen and (max-width: 900px) {

h2 {
    font-size: 41px;
}

/*-- Section 1 - Main Page --*/

.promo {
    padding: 142px 0 10px 0;
}

.promo_thumbs {
    padding: 77px 25px 30px 25px;
}

.promo_h1 {
    top: 78px;
    font-size: 57px;
    line-height: 1;
}

.h1_descript p {
    font-size: 18px;
    line-height: 26px;
}

.animate_title .cursor {
    height: 30px;
    top: 8px;
}

.promo_thumbs {
    padding: 55px 25px 30px 25px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

h3 {
    font-size: 24px;
    line-height: 36px;
}

.tags li a {
    font-size: 18px;
    line-height: 22px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 4 - Main Page --*/

.article_2 > div:nth-child(1) {
    width: 60%;
}

.article_2 > div:nth-child(2) {
    width: 40%;
}

.img_box_3_outside {
    width: 60vw;
}

.img_box_inner p {
    font-size: 22px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 1 - Services Page --*/

.tags_article {
    padding: 10px 0 10px 0;
}

.tags_article p.big {
    font-size: 20px;
    line-height: 34px;
}

.tags_article p {
    padding: 5px 0;
    font-size: 20px;
    line-height: 34px;
}

/*-- /Section 1 - Services Page --*/

/*-- Section 2 - Digital Page --*/

.h2_wrapp span {
    font-size: 41px;
    color: #71727A;
}

.digital_article > div:nth-child(1) {
    width: calc(100% - 400px);
}

.digital_article > div:nth-child(2) {
    width: 400px;
}

/*-- /Section 2 - Digital Page --*/

/*-- Section 6 - Digital Page --*/

.brandbok_article > div:nth-child(1) {
    width: 100%;
    padding: 20px 0 0 0;
    order: 2;
}

.brandbok_article > div:nth-child(2).fixed_height {
    width: 100%;
    height: auto;
    padding: 0;
    order: 1;
}

.brandbok_img_box_2 {
    width: 100%;
    border-radius: 120px 0 0 0;
}

.digital_img_box_2_inner_wrapp h2 {
    font-size: 30px;
    text-align: left;
}

.brandbok_article > div:nth-child(2) {
    min-height: 500px;
}

/*-- /Section 6 - Digital Page --*/

/*-- Section 7 - Digital Page --*/

.sect_7_dp .article {
    padding-bottom: 10px;
}

.tabs_list_2 {
    padding: 0 0 15px 0;
}

.icon_thumb {
    margin: 10px 25px;
}

/*-- /Section 7 - Digital Page --*/

/*-- Section 8 - Digital Page --*/

.sect_8_dp {
    padding: 30px 0 10px 0;
}

.price_thumb_wrapp {
    width: calc(100% - 18px);
    margin: 10px 9px;
}

/*-- /Section 8 - Digital Page --*/

/*-- Section 1 - About Page --*/

.about_promo {
    display: block;
    min-height: auto;
    position: relative;
}

.about_promo > div:nth-child(1) {
    width: 100%;
}

.about_promo > div:nth-child(2) {
    width: 100%;
    padding-top: 20px;
    justify-content: flex-start;
}

.about_promo > div:nth-child(1) > div {
    max-width: 100%;
}

.about_promo > div:nth-child(2) > div {
    max-width: 100%;
}

.about_promo_img {
    width: 100%;
    max-width: 470px;
    height: 100%;
    top: 40px;
}

.about_promo_2 > div:nth-child(1),
.about_promo_2 > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

.about_promo_2 > div:nth-child(2) > div {
    max-width: 100%;
}

.about_promo_img {
    opacity: .6;
}

/*-- /Section 1 - About Page --*/

/*-- Section 2 - About Page --*/

.ab_thumb {
    width: calc(50% - 40px);
    margin: 10px 20px;
}

.ab_thumb h3 {
    padding-bottom: 2px;
    min-height: 57px;
    font-size: 22px;
    line-height: 30px;
}

/*-- /Section 2 - About Page --*/

/*-- Section 2 - About Page --*/

.promo_2_h2 {
    font-size: 95px;
    font-size: 75px;
    bottom: -21px;
}

/*-- /Section 2 - About Page --*/

/*-- Section 2 - BrnadBook Page --*/

.video_article > div:nth-child(1) {
    width: 170px;
}

.video_article > div:nth-child(2) {
    width: calc(100% - 170px);
}

.video_btn {
    width: 150px;
    height: 150px;
}

.video_article p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 27px;
}

/*-- /Section 2 - BrnadBook Page --*/

/*-- Section 3 - BrnadBook Page --*/

.brandbok_3_wrapp {
    padding: 10px 0 10px 0;
}

.brandbok_3_title h2 {
    font-size: 37px;
    line-height: 50px;
}

/*-- /Section 3 - BrnadBook Page --*/

/*-- Section 4 - BrnadBook Page --*/

.brandbok_4 {
    padding: 0;
}

.brandbok_tree_cols > div:nth-child(1) {
    width: 100%;
    padding-top: 0;
    padding-right: 0;
}

.brandbok_tree_cols > div:nth-child(2) {
    display: none;
}

.brandbok_tree_cols > div:nth-child(3) {
    width: 100%;
    padding: 0;
}

.brandbok_tree_cols > div:nth-child(1) > div {
    max-width: 100%;
    width: 100%;
}

.brandbok_tree_cols > div:nth-child(3) > div {
    max-width: 100%;
    width: 100%;
    top: 0;
}

.brandbok_thumbs {
    margin: 0 -10px 0 -10px;
    padding: 20px 0 20px 0;
}

.brandbok_thumb {
    margin: 10px;
    padding: 21px 3%;
}

.brandbok_thumb p {
    font-size: 19px;
    line-height: 38px;
}

.brandbok_thumb p span {
    font-size: 22px;
}

/*-- /Section 4 - BrnadBook Page --*/

/*-- Section 6 - BrnadBook Page --*/

.brandbok_article > div:nth-child(2) {
    width: calc(100% + 20px);
    left: -20px;
}

.brandbok_img_box_2_inner {
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
    padding: 25px 35px 10px 35px;
    border-radius: 80px 0 0 0;
}

.brandbok_img_box_2_inner > div {
    top: 0;
    transform: translate(0, 0);
}

/*-- /Section 6 - BrnadBook Page --*/

/*-- Section 1 - Logo Page --*/

.logotype_article_two_cols > div:nth-child(odd) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.logotype_article_two_cols > div:nth-child(even) {
    width: 100%;
    padding: 10px 0 10px 0;
}

.logotype_article_two_cols > div:nth-child(odd) > div {
    max-width: 100%;
}

.logotype_article_two_cols > div:nth-child(even) > div {
    max-width: 100%;
}

.logos_inline {
    justify-content: center;
    margin: 0 -15px;
}

.logos_inline > div {
    padding: 10px 15px;
}

.logos_inline > div img {
    max-width: 160px;
    max-height: 80px;
}

.logotype_article_2 h3 {
    padding-bottom: 5px;
    font-size: 26px;
}

.logotypes_articles_title h3 {
    font-size: 24px;
    line-height: 36px;
}

.logotype_article > div:nth-child(1) h3 {
    font-size: 24px;
}

/*-- /Section 1 - Logo Page --*/

/*-- Section 2 - Logo Page --*/

.lp_thumb {
    margin: 10px 35px;
}

.lp_thumb p {
    font-size: 18px;
    line-height: 29px;
}

/*-- /Section 2 - Logo Page --*/

/*-- Footer --*/

.footer_nav li a {
    font-size: 18px;
    line-height: 20px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 767px) {

/*-- Header --*/

.header_site {
    width: 100%;
    padding: 10px 15px 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

#header.scroll {
    padding-top: 10px;
    padding-bottom: 1px;
}

.header_site:before {
    height: 3px;
}

.header_site > .left {
    width: 210px;
    padding-right: 5px;
}

.header_site > .right {
    width: calc(100% - 210px);
    padding-left: 5px;
}

.logo img {
    max-width: 37px;
}

.logo p {
    font-size: 15px;
    line-height: 20px;
}

.inlines > div {
    min-height: 37px;
}

.soc_dr ul {
    margin: 0;
}

.dr_contacts_wrapp {
    height: 37px;
}

.tel_link {
    font-size: 19px;
}

.pink_link {
    height: 37px;
    font-size: 16px;
}

.mail_link {
    width: 58px;
    height: 37px;
}

.resbtn_wrapp {
    padding: 0 0 0 10px;
}

.mail_link_hover {
    font-size: 18px;
    line-height: 26px;
}

.closeModalNav {
    top: 12px;
    right: 20px;
}

/*-- Modal Nav --*/

.tree_cols_nav ul li a {
    font-size: 18px;
    line-height: 23px;
}

.modal_nav.visible .modal_nav_title {
    top: -45px;
}

.modal_nav_title h2 {
    font-size: 59px;
    line-height: 59px;
}

.nav_pill {
    height: 50px;
}

.nav_pill p {
    font-size: 29px;
    line-height: 29px;
}

/*-- /Modal Nav --*/

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo_thumbs {
    padding: 25px 25px 15px 25px;
}

.promo_thumb {
    height: 160px;
    border-radius: 0 30px 0 0;
}

.promo_thumb:nth-child(2) {
    top: -30px;
}

.promo_thumb video {
    min-width: auto;
    height: auto;
    width: 100%;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_mp {
    padding: 25px 0 10px 0;
}

.article h2 {
    font-size: 38px;
    line-height: 57px;
}

.article h2 span {
    font-size: 25px;
}

.tags li {
    width: calc(33.33% - 20px);
}

/*-- /Section 2 - Main Page --*/

/*-- Section 4 - Main Page --*/

.article_2 > div:nth-child(1) {
    width: 50%;
}

.article_2 > div:nth-child(2) {
    width: 50%;
    padding: 20px 0 10px 0;
}

.article_2 > div:nth-child(2) h3 {
    padding: 10px 0 8px 0;
    font-size: 20px;
    line-height: 28px;
}

.img_box_3 {
    padding: 20px 20px 40px 0px;
}

.img_box_3_outside {
    border-radius: 0 90px 0 0;
}

.img_box_inner {
    border-radius: 0 60px 0 0;
    padding: 15px 25px 15px 15px;
}

.img_box_inner p {
    font-size: 18px;
    line-height: 29px;
}

.img_box_3_content h3 {
    padding-bottom: 10px;
    font-size: 27px;
    line-height: 34px;
}

.link_wrapp {
    padding: 5px 0 0 0;
}

.pink_link_2 {
    font-size: 20px;
    line-height: 34px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.callback_two_cols > div:nth-child(2) {
    display: none;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.callback_two_cols_2 {
    padding-top: 70px;
}

.callback_two_cols_2 > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.callback_two_cols_2 > div:nth-child(2) {
    display: block;
    width: 100%;
    padding: 10px 0 0 0;
}

.callback_two_cols_2 .callback_header {
    padding-bottom: 30px;
}

.form_js_input.visible p.pl_text {
    bottom: 90%;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 2 - Digital Page --*/

.digital_article > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.digital_article > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

.digital_article > div:nth-child(1) > div {
    max-width: 100%;
}

.digital_img_box {
    height: 300px;
    margin: 20px 0;
}

.digital_article .item_thumb_title {
    padding: 17px 0 17px 0;
}

/*-- /Section 2 - Digital Page --*/

/*-- Section 3 - Digital Page --*/

.digital_paralax {
    margin: 5px 0 5px 0;
}

.digital_paralax_content {
    height: 350px;
}

.digital_paralax_content > div:nth-child(1) p {
    font-size: 25px;
    line-height: 35px;
}

.digital_paralax_content > div:nth-child(2) p {
    font-size: 20px;
    line-height: 29px;
}

.digital_paralax_content > div:nth-child(1) > div {
    max-width: 215px;
}

.digital_paralax_content > div:nth-child(2) > div {
    max-width: 188px;
}

.digital_sculptor {
    width: 300px;
}

.digital_paralax > .row:after {
    width: 355px;
}

/*-- /Section 3 - Digital Page --*/

/*-- Section 5 - Digital Page --*/

.sect_5_dp {
    padding: 20px 0 20px 0;
}

.brandbok_thumbs_2_2 {
    margin: 0;
}

.brandbok_thumbs_2_2 {
    padding: 0;
}

.brandbok_thumbs_2_2 .brandbok_thumb_2 {
    margin: 2px 0;
}

.brandbok_thumb_2 {
    width: 100%;
    padding: 10px 0;
}

/*-- /Section 5 - Digital Page --*/

/*-- Section 7 - Digital Page --*/

.sect_7_dp {
    padding: 15px 0 30px 0;
}

/*-- /Section 7 - Digital Page --*/

/*-- Section 5 - About Page --*/

.about_article {
    padding: 20px 0 0 0;
}

.about_article h3 {
    padding: 10px 0;
    font-size: 24px;
    line-height: 32px;
}

.about_article p {
    padding: 10px 0 29px 0;
    font-size: 18px;
    line-height: 29px;
}

.about_article ul li {
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    line-height: 30px;
}

.about_article ul li:before {
    width: 6px;
    height: 6px;
    top: 10px;
    left: 0;
}

.about_article ul + h3 {
    padding-top: 25px;
}

.sect_5_ab + .sect_8_mp .callback_two_cols {
    padding-top: 41px;
}

/*-- /Section 5 - About Page --*/

/*-- Section 1 - BrnadBook Page --*/

.article.brandbok {
    padding: 0 0 15px 0;
}

.article.brandbok > div:nth-child(1),
.article.brandbok > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

.article.brandbok br {
    display: none;
}

.article.brandbok > div:nth-child(2) > div {
    max-width: 100%;
}

.article.brandbok h2 {
    font-size: 26px;
    line-height: 41px;
}

h1.promo_h1_3 {
    font-size: 60px;
}

.promo_h1_3 {
    padding: 0 0 0 5%;
    top: 77px;
}

/*-- /Section 1 - BrnadBook Page --*/

/*-- Section 3 - BrnadBook Page --*/

.brandbok_3_title h2 {
    font-size: 28px;
    line-height: 43px;
}

.brandbok_3 {
    display: block\;
}

.brandbok_3 > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
    order: 2;
}

.brandbok_3 > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
    height: 350px;
    order: 1;
}

.brandbok_3 > div:nth-child(2) img {
    width: 100%;
    height: 350px;
}

.brandbok_4 {
    display: block;
}

.brandbok_4 > div:nth-child(1) {
    width: 100%;
    padding: 10px 0;
}

.brandbok_4 > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

.brandbok_4 > div:nth-child(1) img {
    width: 100%;
    margin-left: 0;
    height: 350px;
}

.brandbok_4 > div:nth-child(2) > div {
    max-width: 100%;
}

.brandbok_4 > div:nth-child(2) > div > div {
    max-width: 100%;
}

/*-- /Section 3 - BrnadBook Page --*/

/*-- Section 4 - BrnadBook Page --*/

.brandbok_tree_cols {
    padding: 5px 0 10px 0;
}

.brandbok_thumbs {
    margin: 0;
    padding: 20px 0 20px 0;
}

.brandbok_thumb {
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    padding: 20px 20px;
}

/*-- /Section 4 - BrnadBook Page --*/

/*-- Section 5 - BrnadBook Page --*/

.sect_5_bb {
    padding: 40px 0 20px 0;
}

.brandbok_thumbs_2 {
    padding: 15px 0 20px 0;
}

.brandbok_thumb_2 {
    margin: 10px 40px;
}

.brandbok_thumb_2 h3 {
    padding-bottom: 0;
    font-size: 20px;
    line-height: 28px;
}

/*-- /Section 5 - BrnadBook Page --*/

/*-- Section 2 - Logo Page --*/

.sect_2_lp .article > div:nth-child(2) {
    display: none;
}

.lp_thumbs {
    margin: 0;
}

.lp_thumb {
    margin: 10px 0;
    width: 100%;
}

/*-- /Section 2 - Logo Page --*/

/*-- Section 3 - Logo Page --*/

.sect_3_lp {
    padding-top: 2px;
}

.sect_3_lp .article {
    padding-bottom: 0;
}

.logo_creater_list {
    margin: 0;
    padding: 10px 0;
}

.logo_creater_list li {
    width: 100%;
    margin: 5px 0;
}

.logo_creater_items_2_wrapp {
    padding: 20px 0 0 0;
}

/*-- /Section 3 - Logo Page --*/

/*-- Footer --*/

.footer_templ > div:nth-child(2) {
    width: 100%;
}

.footer_templ > div:nth-child(3) {
    width: 100%;
    text-align: center;
}

.footer_templ .pink_box {
    margin: 15px 0 15px 0;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 700px) {

/*-- Header --*/

.novisible_700 {
    display: none;
}

.visible_700 {
    display: block;
}

.header_site {
    padding: 10px 20px 10px 20px;
}

.modal_nav {
    background: #F4E7FF;
}

.modal_nav:before {
    display: block;
    content: "";
    width: 486px;
    height: 486px;
    background: #FFF;
    opacity: .4;
    filter: blur(50px);
    position: absolute;
    top: -245px;
    left: 50%;
    transform: translate(-50%, 0);
}

.resp_nax_header {
    display: flex;
    padding: 13px 0 10px 0;
}

.resp_nax_header > div:nth-child(1) {
    width: 50px;
}

.resp_nax_header > div:nth-child(2) {
    width: calc(100% - 100px);
    text-align: center;
    padding-top: 2px;
}

.brif_link {
    font-size: 18px;
    line-height: 28px;
    color: #977AD2;
    border-bottom: 1px solid #977AD2;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.brif_link:hover {
    border-bottom: 1px solid transparent;
}

.closeModalNav {
    top: 17px;
    right: 20px;
}

.closeModalNav svg {
    width: 18px;
    height: auto;
}

.respBtn {
    display: inline-flex;
    align-items: center;
    width: auto;
}

.respBtn > div:nth-child(1) {
    display: block;
    padding-right: 10px;
}

.respBtn > div:nth-child(1) p {
    font-size: 16px;
    line-height: 18px;
    color: #977AD2;
}

.respBtn > div:nth-child(2) span {
    background: #977AD2;
    height: 3px;
    margin-bottom: 6px;
}

.respBtn > div:nth-child(2) span:nth-child(1) {
    width: 17px;
    left: 6px;
}

.respBtn > div:nth-child(2) span:nth-child(2) {
    width: 26px;
}

.respBtn > div:nth-child(2) span:nth-child(3) {
    width: 16px;
}

.header_site:before {
    display: none;
}

.tree_cols_nav {
    padding: 10px 0 20px 15px;
}

.tree_cols_nav ul li {
    padding: 8px 0;
}

.tree_cols_nav ul li a {
    font-size: 18px;
    line-height: 25px;
    color: #54575D;
}

.modal_nav_footer_wrapp {
    padding: 0 20px 30px 20px;
}

.modal_nav_footer {
    border-top: 1px solid #F8F0FF;
    position: relative;
}

.modal_nav_footer:before {
    display: block;
    height: 1px;
    width: 100%;
    content: "";
    background: #F0DFFF;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.nav_list li {
    width: 100%;
    padding: 3px 0;
    line-height: 1;
    text-align: center;
}

.nav_list li a {
    font-size: 18px;
    line-height: 28px;
    color: #977AD2;
}

.nav_list_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}

.nav_list_2 li {
    padding: 7px 10px;
    line-height: 1;
}

.nav_list_2 li a {
    font-size: 15px;
    line-height: 28px;
    color: #484B51;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo_thumb {
    height: 114px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_3_mp {
    padding: 40px 0 10px 0;
}

.sect_3_mp .article {
    padding-bottom: 10px;
}

.tabs_list {
    padding: 5px 0 0 0;
}

.tabs_list li {
    padding: 2px 15px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 1 - About Page --*/

.about_promo_2 {
    padding: 60px 0 48px 0;
}

/*-- /Section 1 - About Page --*/

/*-- Section 2 - About Page --*/

.ab_thumb {
    width: calc(100% - 40px);
    margin: 10px 20px;
}

.ab_thumb h3 {
    padding-bottom: 10px;
    min-height: auto;
}

/*-- /Section 2 - About Page --*/

/*-- Section 3 - About Page --*/

.promo_2_article {
    display: block;
    min-height: auto;
}

.promo_2_article > div:nth-child(1) {
    width: 100%;
    max-width: 100%;
    padding-bottom: 100px;
}

.promo_2_article > div:nth-child(2) {
    width: 100%;
    max-width: 100%;
    padding-top: 100px;
}

.promo_2_h2 {
    font-size: 52px;
    bottom: -14px;
}

/*-- /Section 3 - About Page --*/

/*-- Section 2 - BrnadBook Page --*/

.video_article {
    display: block;
}

.video_article > div:nth-child(1) {
    width: 150px;
    margin: 10px auto;
    padding: 10px 0;
}

.video_article > div:nth-child(2) {
    width: 100%;
    padding: 10px 0;
}

/*-- /Section 2 - BrnadBook Page --*/

/*-- Footer --*/

.footer_inline > div:nth-child(1) {
    width: 100%;
    text-align: center;
}

.footer_inline > div:nth-child(2) {
    width: 100%;
    text-align: center;
}

.footer_nav li {
    padding: 5px 0;
}

.soc_list {
    justify-content: center;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

.novisible_600 {
    display: none;
}

h1 {
    font-size: 72px;
    line-height: 120%;
}

h2 {
    font-size: 33px;
}

/*-- Section 1 - Main Page --*/

.animate_title .cursor {
    height: 23px;
    top: 7px;
}

.promo_thumb {
    height: 108px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.tags li a {
    font-size: 16px;
    line-height: 20px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.tab_link {
    font-size: 16px;
    line-height: 25px;
}

.tabs_list li {
    padding: 2px 15px;
    line-height: 1;
}

.button_wrapp {
    padding: 10px 0 10px 0;
}

.more_link {
    font-size: 17px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    padding: 36px 0 34px 0;
}

.article_2 > div:nth-child(1) {
    width: calc(100% + 60px);
    position: relative;
    left: 25px;
}

.article_2 > div:nth-child(2) {
    width: 100%;
}

.img_box_3_content {
    left: -20px;
}

.img_box_3_outside {
    width: 100vw;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5_mp .article {
    padding-bottom: 0;
}

.item {
    width: calc(100% - 40px);
    margin: 10px 20px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 7 - Main Page --*/

.faq_item_title h3 {
    font-size: 20px;
    line-height: 30px;
}

.faq_item_title svg {
    display: block;
    top: calc(50% - 15px);
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols {
    padding: 40px 0 20px 0;
}

.formn_templ {
    padding: 40px 0 12px 0;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.callback_two_cols_2 {
    padding: 70px 0 0 0;
}

.contacts_box {
    border-radius: 20px 20px 0 0;
    padding: 15px 10px 11px 10px;
}

.contacts_box h3 {
    padding: 5px 0 5px 0;
    font-size: 29px;
    line-height: 33px;
}

.contacts_item h4 {
    padding-bottom: 0;
}

.contacts_item ul.list_2 {
    padding: 1px 0;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 2 - Digital Page --*/

.h2_wrapp span {
    font-size: 33px;
}

/*-- /Section 2 - Digital Page --*/

/*-- Section 3 - Digital Page --*/

.digital_paralax_content {
    height: auto;
}

.digital_paralax_content > div:nth-child(1) {
    width: 100%;
    padding: 10px 0 101px 0;
}

.digital_paralax_content > div:nth-child(2) {
    width: 100%;
    padding: 100px 0 30px 0;
    justify-content: flex-start;
}

.digital_paralax_content > div:nth-child(1) > div {
    max-width: 100%;
}

.digital_paralax_content > div:nth-child(2) > div {
    max-width: 100%;
}

.digital_paralax > .row:before {
    display: none;
}

/*-- /Section 3 - Digital Page --*/

/*-- Section 4 - Digital Page --*/

.sect_4_dp {
    padding: 50px 0 30px 0;
}

.h2_wrapp_2 h2 {
    font-size: 50px;
    line-height: 66px;
}

.h2_wrapp_2 h2 span {
    font-size: 38px;
}

/*-- /Section 4 - Digital Page --*/

/*-- Section 6 - Digital Page --*/

.sect_6_dp {
    padding: 20px 0 30px 0;
    overflow: hidden;
}

.brandbok_article > div:nth-child(2).fixed_height {
    width: calc(100% + 50px);
    left: -25px;
}

.brandbok_img_box_2 {
    width: 100vw;
    border-radius: 55px 0 0 0;
}

.brandbok_article > div:nth-child(1) {
    padding: 80px 0 0 0;
}

.brandbok_article > div:nth-child(2) {
    min-height: 356px;
}

.digital_img_box_2_inner_wrapp {
    width: 100%;
    height: 100%;
    top: 35px;
    left: 25px;
    transform: translate(0, 0);
}

.digital_img_box_2_inner {
    min-height: 97%;
    border-radius: 62px 0 0 0;
}

.digital_img_box_2_inner > div h3 {
    padding-bottom: 7px;
    font-size: 22px;
    line-height: 32px;
}

.digital_img_box_2_inner > div p {
    font-size: 18px;
    line-height: 26px;
}

.digital_img_box_2_inner > div {
    align-items: flex-start;
    padding-top: 23px;
}

.digital_img_box_2_inner_wrapp h2 {
    padding: 0 0 13px 0;
    font-size: 27px;
}

.hovder_dr_item_title h3 {
    font-size: 18px;
    line-height: 27px;
}

.hovder_dr_item_content p {
    font-size: 16px;
    line-height: 25px;
}

.brandbok_img_box_2 img {
    width: 110%;
}

.digital_img_box_2_inner img {
    width: 116%;
}

/*-- /Section 6 - Digital Page --*/

/*-- Section 8 - Digital Page --*/

.prices_article > div:nth-child(1) p,
.prices_article > div:nth-child(1) p a {
    font-size: 18px;
    line-height: 29px;
}

.prices_descript {
    border-radius: 40px 0 0 0;
    padding: 35px 15px 20px 15px;
}

.prices_descript p,
.prices_descript p a {
    font-size: 18px;
    line-height: 28px;
}

.sect_8_dp + .sect_8_mp .callback_two_cols {
    padding-top: 10px;
}

/*-- /Section 8 - Digital Page --*/

/*-- Section 1 - About Page --*/

.about_promo p,
.about_promo p a {
    font-size: 20px;
    line-height: 30px;
}

.about_promo h3 {
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 39px;
}

.about_promo_2 p,
.about_promo_2 p a {
    font-size: 20px;
    line-height: 30px;
}

/*-- /Section 1 - About Page --*/

/*-- Section 3 - BrnadBook Page --*/

.article.brandbok_2 p.small {
    padding: 5px 0;
    font-size: 17px;
    line-height: 26px;
}

/*-- /Section 3 - BrnadBook Page --*/

/*-- Section 6 - BrnadBook Page --*/

.sect_6_bb {
    padding: 10px 0 10px 0;
}

.brandbok_article > div:nth-child(1) {
    padding: 50px 0 0 0;
}

.brandbok_img_box_2_inner {
    padding: 44px 35px 10px 35px;
}

.brandbok_img_box_2_inner p {
    font-size: 20px;
    line-height: 34px;
}

.brandbok_img_box_2_inner h3 {
    padding-bottom: 10px;
    font-size: 26px;
    line-height: 34px;
}

.item_thumb_title {
    padding: 25px 0 10px 0;
}

/*-- /Section 6 - BrnadBook Page --*/

/*-- Section 8 - Main Page --*/

.sect_6_bb + .sect_8_mp .callback_two_cols {
    padding-top: 30px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Logo Page --*/

.logotypes_articles {
    padding-bottom: 5px;
}

.logos_inline {
    margin: 0 -10px;
}

.logos_inline > div img {
    max-width: 124px;
    max-height: 80px;
}

/*-- /Section 1 - Logo Page --*/

}

@media only screen and (max-width: 480px) {

h3 {
    font-size: 18px;
    line-height: 31px;
}

.row {
    padding: 0 20px;
}

/*-- Header --*/

.tree_cols_nav {
    margin: 0;
}

.tree_cols_nav > div:nth-child(1),
.tree_cols_nav > div:nth-child(2),
.tree_cols_nav > div:nth-child(3) {
    width: 100%;
    padding: 0
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.promo {
    padding: 105px 0 10px 0;
}

.animate_title {
    min-height: 25px !important;
    margin-top: 14px;
}

.promo_h1 {
    top: 50px;
    line-height: 1;
    font-size: 90px;
}

.h1_descript p {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 23px;
    line-height: 28px;
}

.animate_title .cursor {
    height: 20px !important;
    top: 5px !important;
}

.promo_thumbs {
    padding: 25px 15px 15px 15px;
}

.promo_thumb {
    height: 300px;
    width: 100%;
    border-radius: 0 75px 0 0;
}

.promo_thumb:nth-child(1) {
    order: 2;
}

.promo_thumb:nth-child(2) {
    top: 0;
    order: 1;
}

.promo_thumb:nth-child(3) {
    order: 3;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_mp {
    padding: 1px 0 10px 0;
}

.article {
    padding-bottom: 0;
}

.article h2 {
    font-size: 30px;
    line-height: 36px;
}

.article h2 span {
    font-size: 30px;
    line-height: 36px;
}

.article > div:nth-child(2) p {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
}

.article > div:nth-child(2) p a {
    font-size: 18px;
    line-height: 26px;
}

.tags_wrapp {
    padding: 10px 0;
}

.tags {
    margin: 0 -5px;
}

.tags li {
    width: calc(50% - 10px);
    margin: 5px;
}

.tags li a {
    min-height: 58px;
    font-size: 15px;
    line-height: 18px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_3_mp {
    padding: 12px 0 10px 0;
}

.tabs_list li {
    padding: 2px 18px;
}

.tab_link {
    font-size: 18px;
    line-height: 25px;
}

.tab_link:hover,
.tab_link.active {
    color: #977AD2;
    border-bottom: 1px solid #977AD2;
}

.tab_link:before {
    display: none;
}

.gallery_templ {
    padding: 0 20px;
}

.gallery_templ > div:nth-child(1),
.gallery_templ > div:nth-child(2),
.gallery_templ > div:nth-child(3) {
    width: 100%;
    padding: 0;
}

.gall_thumb {
    margin: 2px 0;
}

.gall_thumb img {
    height: 209px;
    object-position: top;
}

.sect_3_mp .tabs {
    padding-top: 32px;
}

.more_link {
    font-size: 18px;
}

.more_link svg {
    width: 30px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.visible_480 {
    display: block;
}

.novisible_480 {
    display: none;
}

.sect_4_mp {
    padding: 6px 0 34px 0;
}

.article br {
    display: none;
}

.article_2 > div:nth-child(1) {
    width: 100%;
    left: 20px;
}

.article_2 > div:nth-child(2) {
    padding: 67px 0 10px 0;
}

.img_box_3 {
    padding: 20px 0 0 0;
}

.img_box_inner {
    border-radius: 0 55px 0 0;
    padding: 15px 15px 15px 25px;
}

.img_box_3_content {
    padding: 0;
    position: relative;
    top: 36px;
}

.img_box_3_content h3 {
    padding-bottom: 10px;
    font-size: 26px;
    line-height: 42px;
}

.img_box_inner p {
    font-size: 18px;
    line-height: 26px;
}

.article_2 > div:nth-child(2) h3 {
    padding: 39px 0 8px 0;
    font-size: 18px;
    line-height: 27px;
}

.article_2 > div:nth-child(2) p {
    font-size: 18px;
    line-height: 26px;
}

.link_wrapp {
    padding: 32px 0 0 0;
    text-align: center;
}

.pink_link_2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 286px;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #977AD2;
    min-height: 54px;
    padding-left: 0;
    background: transparent;
    border: 1px solid #977AD2;
    -webkit-transition-property: background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.pink_link_2:hover {
    background: #977AD2;
    color: #fff;
}

.pink_link_2:before {
    display: none;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.article > div:nth-child(2) p {
    color: #292A2E;
}

.items {
    padding: 0 0 10px 0;
}

.item {
    margin: 8px 20px;
}

.item > div:nth-child(1) {
    width: 22px;
    padding-top: 0;
    position: relative;
    top: -2px;
}

.item > div:nth-child(2) {
    width: calc(100% - 22px);
}

.item > div:nth-child(1) p {
    font-size: 18px;
    line-height: 30px;
}

.item > div:nth-child(2) p {
    font-size: 18px;
    line-height: 26px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect_6_mp {
    display: none;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.faq_item_title svg {
    width: 19px;
    right: 0;
}

.faq_item_title h3 {
    font-size: 18px;
    line-height: 26px;
}

.faq_item_content {
    margin-top: -10px;
    padding: 0 10px 20px 0px;
}

.faq_item_content p {
    font-size: 15px;
    line-height: 24px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols {
    padding: 33px 0 20px 0;
}

.callback_header h3 {
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 26px;
}

.callback_header h2 {
    font-size: 30px;
    line-height: 36px;
}

.callback_header h2 span {
    font-size: 30px;
    line-height: 36px;
}

.formn_templ {
    padding: 125px 0 3px 0;
}

.formn_templ > div:nth-child(1) {
    width: calc(100% - 90px);
}

.formn_templ > div:nth-child(2) {
    width: 90px;
}

.formn_templ > div:nth-child(1) > p, .formn_templ > div:nth-child(1) > p a {
    font-size: 18px;
    line-height: 28px;
}

.subBtn {
    font-size: 18px;
    line-height: 33px;
}

.icon_link {
    font-size: 15px;
    line-height: 29px;
}

.icon_link img {
    margin-right: 5px;
    max-width: 17px;
}

.form_js_input {
    bottom: 1px;
}

.form_js_input input {
    font-size: 20px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 8 - Main Page --*/

.promo .article {
    padding: 0 0 20px 0;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.callback_two_cols_2 {
    padding-bottom: 0;
}

.contacts_item ul {
    margin: 0 -10px;
}

.contacts_item ul li {
    padding: 0 10px;
}

.contacts_item ul li a {
    font-size: 18px;
    line-height: 23px;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 2 - Digital Page --*/

.h2_wrapp span {
    font-size: 23px;
}

.item_thumb_title h3 {
    font-size: 18px;
    line-height: 27px;
}

.digital_article {
    padding: 8px 0 0 0;
}

.digital_article .item_thumb_title {
    padding: 23px 0 8px 0;
}

.digital_article > div:nth-child(1) p,
.digital_article > div:nth-child(1) p a {
    font-size: 18px;
    line-height: 29px;
}

/*-- /Section 2 - Digital Page --*/

/*-- Section 3 - About Page --*/

.promo_2 {
    margin: 30px 0 55px 0;
    background-image: none;
}

.promo_2_img {
    width: 100%;
}

.promo_2_h2 {
    font-size: 37px;
    bottom: -33px;
}

/*-- /Section 3 - About Page --*/

/*-- Footer --*/

.footer_templ {
    padding: 10px 0 21px 0;
}

.footer_templ > div:nth-child(1) {
    padding: 10px 0 10px 0;
    width: 100%;
    max-width: 256px;
    text-align: left;
}

.footer_templ > div:nth-child(2) {
    padding-top: 32px;
}

.logo_footer img {
    max-width: 45px;
    margin-right: 15px;
}

.logo_footer p {
    font-size: 18px;
    line-height: 26px;
}

.navs_inline {
    margin: 0 -5px;
}

.navs_inline > div {
    width: 50%;
    padding: 0 5px;
}

.navs_inline > div:nth-child(1) {
    width: 60%;
}

.navs_inline > div:nth-child(2) {
    width: 40%;
}

.footer_nav li {
    padding: 10px 0;
}

.footer_nav li a {
    font-size: 16px;
}

.footer_bottom_templ> div:nth-child(1) p {
    padding: 2px 0;
    font-size: 16px;
    line-height: 26px;
}

.tel_link_2 {
    font-size: 20px;
    line-height: 20px;
}

.footer_pink_link .pink_link {
    height: 50px;
    font-size: 18px;
}

.footer_pink_link .mail_link {
    width: 58px;
    height: 50px;
}

.footer_templ .pink_box {
    margin: 15px 0 25px 0;
}

.link_2 {
    font-size: 15px;
}

.resp_footer_templ {
    padding: 37px 0 14px 0;
    text-align: center;
}

.resp_tel_link {
    font-size: 30px;
    line-height: 28px;
    color: #D5D1D1;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.resp_tel_link:hover {
    color: #C17EF5;
}

.resp_soc_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resp_soc_links li {
    padding: 5px 10px;
    line-height: 1;
}

.resp_soc_links li a {
    font-size: 18px;
    line-height: 40px;
    color: #D5D1D1;
}

.resp_soc_links li a.green {
    color: #10AE2D;
}

.resp_soc_links li a.blue {
    color: #32B4FD;
}

.resp_soc_links_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 29px 0 18px 0;
}

.resp_soc_links_2 li {
    padding: 5px 10px;
    line-height: 1;
}

.resp_soc_links_2 li a {
    font-size: 18px;
    line-height: 20px;
    color: #D5D1D1;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.corp_resp {

}

.corp_resp p {
    font-size: 15px;
    line-height: 24px;
    color: #D5D1D1;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 410px) {

/*-- Section 1 - Main Page --*/

.promo_thumb {
    height: 265px;
    border-radius: 0 60px 0 0;
}

.promo_thumb video {
    min-width: auto;
    height: 114%;
    width: auto;
}

/*-- /Section 1 - Main Page --*/

}

@media only screen and (max-width: 360px) {

/*-- Header --*/

/*.header_site {
    padding: 10px 10px 10px 10px;
}*/

/*-- /Header --*/

}

@media only screen and (min-width: 768px) {


}
